.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid #333131;
	border-right: 80px solid transparent;
	transition: .3s ease-in-out all;
}

.boton:hover::after {
	left: 0;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.filtro {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1cm;
	height: 1cm;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.filtro::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	right: calc( 20% - -00px);
	border-bottom: 80px solid #4d4646;
	border-right: 80px solid transparent;
	transition: .3s ease-in-out all;
}

.filtro:hover::after {
	left: 0;
}

.filtro span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.delete {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.2cm;
	width: 100%;
	height: 40px;
	background: #141414;
	color: rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.delete::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	right: calc( 20% - -10px);
	border-bottom: 80px solid #4d4646;
	border-right: 80px solid transparent;
	transition: .3s ease-in-out all;
}

.delete:hover::after {
	left: 0;
}

.delete span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}