@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #222121;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

/* ESTILOS DE DIVS */

.contenedor {
	width: 500px;
	height: 500px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenedor-botones {
	width: 100%;
	margin-top: 2cm;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.contenedor-filtro {
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	display: inline-flex;
	gap: 10px;
}


/* ESTILOS DE TITULOS O LINEAS DE TEXTO */

h1 {
	font-size: 58px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 80px;
	text-transform: uppercase;
	color: #ffffff;
	border: 5px solid #141414;
	padding: 5px 10px;
	display: inline-block;
}

#titulo1 {
	position: absolute;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 0.6cm;
}

#titulo2 {
	margin-top: 1px;
	color: #ddd;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}



/* ESTILOS INPUT */

#monto {
	position: absolute;
	color: #070707;
	font-family: 'Roboto', sans-serif;
	margin-top: 3.5cm;
	font-size: 0.6cm;
	height: 0.9cm;
	width: 5cm;
}

/* ESTILOS TABLA */

#tabla {
	margin-top: 10px;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

#tabla td, #tabla th {
	border: 1px solid rgb(0, 0, 0);
	padding: 8px;
}
  
#tabla th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	background-color: #474646;
	color: white;
  }

#tabla td {
	display: table-cell;
	background-color: #fffefe;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}




